@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

main {
  flex-grow: 1;
}

.vertically-centered {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.main-center {
  font-size: 5em;
  margin: 0;
  text-align: center;
}

.main-center-site-explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-start: 32px;
  margin-block-end: 32px;
}

#site-explorer-searchbox {
  width: 320px;
  height: 32px;
  margin: auto;
  padding-inline-start: 6px;
  padding-inline-end: 6px;
  border-radius: 12px;
  border: 2px solid lightgray;
  appearance: none;
  outline: none;
  transition: border-color 0.3s;
}

#site-explorer-searchbox:focus {
  border-color: #77C3EC;
}

#site-explorer-search-result {
  width: 320px;
  margin: auto;
}

.search-result-entry:hover {
  background-color: lightblue;
}

.search-result-entry {
  border: 1px solid lightgray;
  padding: 12px;
}

.search-result-title {
  margin: 0 0 12px 0;
  font-weight: bold;
}

.search-result-url {
  color: gray;
  font-size: 0.8em;
  margin: 0;
}

.main-article {
  margin: auto;
  max-width: 800px;
  min-width: 320px;
}

.main-article > * {
  margin-inline-start: 5%;
  margin-inline-end: 5%;
}

.main-article p {
  font-size: 1.2em;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

.footer-copyright {
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-align: center;
}
